apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - nginx-deployment.yaml
  - nginx-service.yaml
  - nginx-ingress.yaml
configMapGenerator:
  - name: nginx-html
    files:
      - index.html=html/index.html
